.modal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.modal__form {
    border-radius: 20px;
    flex-direction: column;
    font-family: "Cabinet-Grotesk";
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    background: white;
    min-width: 440px;
    min-height: 480px;
    justify-content: space-between;
    position: relative;
    display: flex;
    padding: 30px 30px 30px 30px;

}

.modal__title {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}

.modal__button-submit {
    height: 36px;
    width: 126px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
}

.modal__button-close {
    background: url(../../images/Union1.svg)center no-repeat;
    height: 16px;
    width: 16px;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 25px;
    right: 30px;
    cursor: pointer;
}

.modal__input_type-name {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
    width: 440px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;



}

.modal__input_type-url {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
    width: 440px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

}

.register__label {
    width: 80px;
    height: 20px;
    left: 500px;
    top: 483px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

}


.register__input {
    width: 80px;

    left: 500px;
    top: 511px;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    /* identical to box height, or 125% */
    padding: 13px, 0;
    width: 440px;
    left: 500px;
    top: 535px;

    border: 1px solid #000000;



}