/* ToggleSwitch.css */

/* The switch container */
.toggle-switch {
    background-color: black;
    display: inline-block;
    height: 28px;
    position: relative;
    width: 52px;
}

/* Hide the default checkbox */
.toggle-switch input[type="checkbox"] {
    display: none;
}

/* The switch label */
.toggle-switch-label {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    user-select: none;
}

/* The inner switch background */
.toggle-switch-inner {
    background-color: #d1d1d1;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

/* The switch itself */
.toggle-switch-switch {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 28px;
    display: inline-block;
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    transition: left 0.3s ease-in-out;
    width: 26px;
}

/* The switch when it's toggled on */
.toggle-switch input[type="checkbox"]:checked+.toggle-switch-label .toggle-switch-inner {
    background-color: #4cd964;
}

/* The switch itself when it's toggled on */
.toggle-switch input[type="checkbox"]:checked+.toggle-switch-label .toggle-switch-switch {
    border-color: #4cd964;
    left: 26px;
}