.toggle-switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 28px;
    border: 2px solid #7E7E7E;
    border-radius: 20px;
}

.toggle-switch-input {
    display: none;
}

.toggle-switch-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 50px;
    background-color: #fff;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.toggle-switch-label .toggle-switch-inner {
    content: '';
    position: absolute;
    top: 50%;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    font-size: 16px;
    transition: left 0.3s ease-in-out;
}



.toggle-switch-label:before {
    content: 'F';
    position: absolute;
    font-family: "Cabinet-Grotesk";
    color: rgba(0, 0, 0, 0.5);
    left: 0%;
    right: 50%;
    top: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
}



.toggle-switch-label:after {
    content: 'C';
    position: absolute;
    font-family: "Cabinet-Grotesk";
    color: rgba(0, 0, 0, 0.5);
    left: 50%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    justify-content: center;
}


.toggle-switch-input:checked~.toggle-switch-label::before {
    color: #fff;
}


.toggle-switch-input:checked~.toggle-switch-label::after {
    color: #fff;
}


.toggle-switch-input:checked:checked~.toggle-switch-label::before {
    color: rgba(0, 0, 0, 0.5);
}

.toggle-switch-input:checked~.toggle-switch-label .toggle-switch-inner {
    left: calc(100% - 28px);


}