/* ToggleSwitch.css */

/* Default style for the toggle switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide the checkbox input */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Style the toggle switch label */
.toggle-switch-label {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

/* Style the toggle switch inner circle */
.toggle-switch-inner {
    display: block;
    width: 26px;
    height: 26px;
    margin: 4px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 34px;
    border-radius: 34px;
    transition: all 0.3s ease;
}

/* Style the toggle switch switch handle */
.toggle-switch-switch {
    display: block;
    width: 22px;
    height: 22px;
    background: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    margin: auto;
    border-radius: 22px;
    transition: all 0.3s ease;
}

/* Change the color of the toggle switch handle on hover */
.toggle-switch:hover .toggle-switch-switch {
    background: white;
}

/* Show the fahrenheit/celsius text before and after the toggle switch */
.toggle-switch-label:before {
    content: "F";
    display: inline-block;
    position: absolute;
    left: -70px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

.toggle-switch-label:after {
    content: "C";
    display: inline-block;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

/* Change the color of the fahrenheit/celsius text on hover */
.toggle-switch:hover .toggle-switch-label:before {
    color: white;
}

.toggle-switch:hover .toggle-switch-label:after {
    color: black;
}

/* Change the background color of the inner circle and the position of the switch handle when the checkbox is checked */
.toggle-switch input:checked+.toggle-switch-label .toggle-switch-inner {
    background: black;
    left: 34px;
    right: 0;
}

.toggle-switch input:checked+.toggle-switch-label .toggle-switch-switch {
    background: white;
    right: 0;
}