.modal__delete-container {

    width: 670px;
    height: 280px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: fixed;
    z-index: 0;
}



.modal__message-line {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}






.modal__close {
    background: url(../../images/Union1.svg)center no-repeat;
    position: absolute;
    width: 14px;
    height: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 20px;

}