.profile-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 20px;


}

.profile__click {



    cursor: pointer;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;


}

.profile__title {




    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}