.card__image {
    max-width: 228px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 328px;
    background-color: rgba(233, 233, 233, 1);
    border: 1px solid black;
    border-radius: 19px;
    justify-content: space-evenly;

}

.card:hover {
    cursor: pointer;
}

.card__name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    align-self: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    line-height: 20px;
    width: 91px;
    height: 24px;
    border: 1px solid black;
    background-color: white;



}

.card__like-button {

    background: url('../../images/HeartNotLiked.svg')center no-repeat;
    cursor: pointer;
    border: none;


}

.card__like-button_filled {

    background: url('../../images/HeartLiked.svg')center no-repeat;


    border: none;
    cursor: pointer;
    background: #000000;
    border: 2px solid #000000;

}