.weather {
    position: relative;
    height: 80px;
    border-radius: 12px;
    display: flex;

}

.weather__temperature {
    font-size: 36px;
    font-family: 'Cabinet Grotesk';
    color: #FFFFFF;
    align-self: center;
    margin-left: 30px;
    position: absolute;
    margin-top: 20px;
}

.weather__image {
    width: 100%;

}