.weather {
    width: 1360px;
    height: 80px;
    background: #00A3FF;
    border-radius: 12px;
    display: flex;

}

.weather__temp {
    font-size: 36px;
    font-family: 'Cabinet Grotesk';
    color: #FFFFFF;
    align-self: center;
    margin-left: 30px;
}