.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px
}

.header__container {
    display: flex;
    align-items: center;
    gap: 40px;


}

.header__nav {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header__date {
    line-height: 1.2;


}



.header__logo {
    width: 89px;
    height: 40px;
    display: flex;
    align-content: flex-start;


}