.header {
    background-color: red;

}

.header__container {
    display: flex;
    align-items: baseline;

    flex-direction: column;
}

.header__menu-bar {}

.header__logo {
    width: 89px;
    height: 40px;
    display: flex;
    align-content: flex-start;
}


.header__Avatar {
    width: 40px;
    height: 40px;
    align-items: flex-end;

}

.header__date-place {}