.navigation__container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #00A3FF;
    border-radius: 12px;
    width: 1360px;
}

.navigation__user {


    width: 40px;
    height: 40px;

}

.navigation__button {

    font-family: 'Cabinet Grotesk';
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    border: none;

}