.item-modal__preview {

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    border-top-right-radius: 10px;
}




.item-modal__container {
    background: #FFFFFF;
    border-radius: 16px;
    border-top-right-radius: 10px;

}

.item-modal__preview-image {
    display: flex;
}

.item-modal__close-button {
    background-color: pink;
    background: url(/public/images/Union.svg)center no-repeat;
    height: 16px;
    width: 16px;
    cursor: pointer;
    border: none;
}