.side-bar {
    flex-direction: column;
    display: flex;
    min-width: fit-content;
}

.side-bar__container {
    display: flex;
}


.side-bar__avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.side-bar__username {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    align-self: center;
    margin-left: 15px;
    font-weight: 700;
    font-size: 20px;
}

.side-bar__button {
    color: #000000;
    cursor: pointer;
    border: none;
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    position: relative;
    top: 60px;
    right: 120px;
    background-color: white;
}

.side-bar__button:hover {
    color: #000000;
}