.side-bar {
    flex-direction: column;
    display: flex;
}

.side-bar__header {
    display: flex;

}


.side-bar__avatar {
    height: 60px;
    width: 60px;
}

.side-bar__username {
    font-family: 'Cabinet Grotesk';
    font-style: normal;
    align-self: center;

    font-weight: 700;
    font-size: 20px;
}