.clothes-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px;

}

.clothes-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.clothes-section-title {
    font-family: 'Cabinet Grotesk';
    /* font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24.8px;
    position: relative;
    width: 94px;
    top: 135px;
    left: 385px;
    display: flex; */

}